<!DOCTYPE html>
<html lang="en">

<%- include('common/head'); -%>

<body>
    <%- include('common/header'); -%>
    <div class="container pt-5 pb-5">
        <h1 class="text-center">
            404 - Page Not Found
        </h1>
    </div>

    <%- include('common/footer'); -%>
    <%- include('common/script'); -%>

</body>

</html>