* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
}

header {
    background-color: rgb(66, 173, 250);
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 120%;
    font-weight: 600;
    padding: 0 15px;
}

.logo {
    max-width: 50px;
}

a {
    text-decoration: none !important;
    transition: all 0.3s ease;
}

textarea {
    white-space: pre-wrap;
}

.footer {
    background-color: lightgreen;
    font-size: 20px;
    font-weight: 600;
}

.btn:focus,
input:focus,
textarea:focus {
    outline: none !important;
    box-shadow: none !important;
}

.blog-date {
    font-size: 14px;
    color: #6d6c6c;
    display: block;
}

.blog-img {
    max-width: 300px;
    width: 100%;
}

.blogs__item {
    height: 400px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    border: 1px solid #e1e1e1;
}

.blogs__item:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.5s ease;
}


.blogs__item--img {
    position: relative;
    overflow: hidden;
}

.blogs__item--img img {
    overflow: hidden;
    max-width: 100%;
    height: 200px;
}

.blogs__item--info {
    margin: 0 0 15px 0;
    width: 100%;
    padding: 10px 15px;
}

.blogs__item--info-name {
    margin: 10px 0;
}

.blogs__item--info-link {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #333333;
    font-size: 18px;
    font-weight: 600;
}

.blogs__item--info-desc {
    font-size: 14px;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.blogs__item--info-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__text--detail {
    white-space: pre-line;
    margin-bottom: 10px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-btn {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    transition: .5s ease;
    cursor: pointer;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 1px solid #dc5139;
    color: #333;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-btn.active {
    background-color: #2ecc71;
    color: #fff;
}

.pagination-button {
    border: 0;
    height: 36px;
    min-width: 75px;
    margin: 0 10px;
    position: relative;
    background-color: #2ecc71;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
}

.pagination-button-next:after, .pagination-button-prev:after {
    content: "";
    position: absolute;
    top: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
}

.pagination-button-prev:after {
    left: -18px;
    border-right: 18px solid #2ecc71;
}

.pagination-button-next:after {
    right: -18px;
    border-left: 18px solid #2ecc71;
}

.pagination-button-next.disabled:hover,
.pagination-button-prev.disabled:hover {
    cursor: default;
}

.pagination-button-next:hover,
.pagination-button-prev:hover {
    color: rgb(235, 223, 223);
}