<!DOCTYPE html>
<html lang="en">

<%- include('../common/head'); -%>

<body>
    <%- include('../common/header'); -%>
    <div class="container">
        <h1>Hello</h1>
        <h2>Huong</h2>
        <i class="far fa-user"></i>
    </div>

    <%- include('../common/footer'); -%>
    <%- include('../common/script'); -%>

</body>

</html>